<div class="row">
    <div class="col-4">
        <ul>
            <li *ngFor="let item of roleList"> {{item.categoryName}}</li>
        </ul>
    </div>
    <div class="col-4">
        <select name="" id="">
            <option *ngFor="let role of roleList" [value]="role.insuranceCategoryId">{{role.categoryName}}</option>
        </select>
    </div>
    <div class="col-4">
        <button class="btn btn-warning mx-2" *ngFor="let item of roleList">{{item.categoryName}}</button>
    </div>
</div>